.commentItem {
    background-color: var(--main-white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2%;
    /* margin: 0 auto 20px auto; */
    border-radius: var(--radius);
    border: 1px solid black;
}




.commentItem .honbun {
    /* margin: 10px 30px; */
    line-height: 2rem;

}













/* Quillのpre（ql-syntax）の見た目はお好みで */
.commentItem pre {
    overflow-x: auto;
    /* 折り返さず横スクロール派 */
    max-width: 100%;
    padding: 4px;
    border-radius: 10px;
}

/* 右上コピー */
.commentItem .codeblock-copy {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: var(--button-color);
    color: var(--main-text);
    z-index: 10000;
}

/* 押した後 */
.commentItem .codeblock-copy:disabled {
    opacity: 0.7;
    cursor: default;
}


.commentItem .editor pre {
    white-space: pre;
    overflow-x: auto;
    max-width: 100%;
    background-color: rgb(53, 53, 53);
    color: white;

}

/* 一覧: 3行で省略 */




/* 詳細: 全文（制限なし） */


/* プレビュー時：本文は最初のブロックだけ表示 */





.commentItem .dai_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.commentItem .syo_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}



.commentItem .comment_flex {
    gap: 10px;
}

.commentItem .titleBlock {

    flex: 1;
    /* ← 右の「…ボタン」に押されて縮む */

}



.commentItem .comment_flex {
    display: flex;
    gap: 15px;
}

.commentItem .icon_flex {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--button-color);
    padding: 5px 10px;
    border-radius: 20px;
}

.commentItem .red {
    color: var(--accent-sub-color);
}