.createPostButton {
    position: fixed;
    /* ← これが一番重要 */
    right: 24px;
    /* 右から */
    bottom: 24px;
    /* 下から */
    z-index: 100;
}

.create {
    width: var(--icon-l);
    height: var(--icon-l);
    color: var(--main-white);
    background-color: var(--main-text);
    padding: var(--space-s);
    border-radius: 100%;
}

.create:hover {
    transform: scale(1.08);
    filter: brightness(1.08);
}