.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.loading svg {
    fill: currentColor;
    color: var(--accent-color);
}