/* .postForm {
    background-color: rgb(255, 255, 255);
} */

.postForm form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* エディタ全体の枠（ツールバーの下の白い箱） */

/* 入力エリア（文字が入るところ） */
.postForm .ql-editor {
    /* height: 320px; */
    /* containerと合わせる */
    overflow-y: auto;
    /* 中だけスクロール */
    font-size: 16px;
    /* 文字サイズもここ */
    line-height: 1.7;

}

.ql-editor.ql-blank:focus::before {


    content: "";
}

/* ReactQuill 全体の角丸 */
.postForm .ql-toolbar {
    border-radius: 12px 12px 0 0;
    min-height: 30px;
    background-color: white;
}

.postForm .ql-container {
    border-radius: 0 0 12px 12px;
    min-height: 150px;
    background-color: white;
}

.post .ql-editor blockquote {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
}

.postForm .ql-container img {
    height: 50%;

}