.Post {
    background-color: var(--main-white);
    aspect-ratio: 2/1;
    margin: 10px;

}

.post p {
    overflow-wrap: anywhere;
    word-break: break-word;
}

.comment_flex {
    display: flex;
}

.PostListScroll {
    flex: 1;
    min-height: 0;
    /* これも超重要 */
    overflow-y: auto;
    /* スクロール */
    overflow-x: hidden;
    /* 横は隠す */

}