HTML {
    font-size: clamp(20px, 1vw, 40px);
}

body {
    font-family: var(--font-body);
    font-weight: var(--font-body-weight);
    background-color: var(--base-color);
}

h1 {
    font-family: var(--font-heading);
    font-weight: var(--font-heading-weight);
}


p,
.icon {
    color: var(--main-text);
}