HTML {
    font-size: clamp(14px, 1vw, 30px);
}

* {
    letter-spacing: 0.3rem;
}

body {
    font-family: var(--font-body);
    font-weight: var(--font-body-weight);
    background-color: var(--base-color);
    color: var(--main-text);
}


h1,
h2 {
    font-family: var(--font-heading);
    font-weight: var(--font-heading-weight);
}