/* Minimal reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

button,
a {
    all: unset;

    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background: transparent;
    font: inherit;
    color: inherit;
    padding: 0;

    outline: none;

    all: unset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

select:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 3px rgba(159, 195, 209, 0.3);
}

select:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 3px rgba(159, 195, 209, 0.3);
}

.authPages input:-webkit-autofill,
.authPages input:-webkit-autofill:hover,
.authPages input:-webkit-autofill:focus,
.authPages input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--login-base-color) inset !important;
    box-shadow: 0 0 0 1000px var(--login-base-color) inset !important;

    -webkit-text-fill-color: var(--main-text) !important;
    /* ←文字色も固定 */
    caret-color: var(--main-text) !important;
    /* ←カーソル色も */
    transition: background-color 9999s ease-in-out 0s;
    /* ←色戻り対策 */
}


input,
textarea,
select {
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}