.Authlayout {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    justify-content: center;
    align-items: center;

    background: var(--login-base-color);

    /* 後で消すかも */
    /* overflow: hidden; */

}

/* .Authlayout .loginHeader {
    max-height: 10px;
} */



.Authlayout .authShell {
    width: 45%;
    min-width: 550px;
    margin: 0 auto;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(-1 * var(--oka));
    z-index: 100;
}

.Authlayout .authShell .authCard {
    position: relative;
    /* ←after用 */
    width: 100%;
    margin: 0 0 30px 0;

    border-radius: 16px;
    background: var(--login-accent-color);
    display: grid;

    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    max-height: 100%;
    transition: 1s;
}

.Authlayout .authShell .authCard:hover {
    /* 時間あるときにゆっくり表示にする */
    overflow: auto;
}




.Authlayout .sakaki {
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: min(260px, 30vw);
    display: block;
    pointer-events: none;
    z-index: 1000;
}

.authShell h2 {
    padding: 10px calc(var(--login-padding) + 8px);
    width: 100%;
    font-size: 3rem;
    margin: 5px;
    text-align: right;
    /* padding: 10px 40px; */
}