.homeLayout {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 0;
}

.sidebar {
    width: 240px;
    flex-shrink: 0;
}

.main_contents {
    flex: 1;
    min-height: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.PostListBody {

    flex: 1;

    min-height: 0;
    width: 80%;
    margin: 0 auto;

    background-color: var(--main-sub-color);
    border-radius: 100px 100px 0 0;
    padding: 50px 15px 15px 15px;
    overflow: hidden;
}

.postListScroll {
    flex: 1;
    width: 100%;
    height: 100%;
    min-height: 0;
    /* これも超重要 */

    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    transform: translateX(8px);


    padding: 0 10%;
    /* スクロール */
}

.postListScroll:hover {
    overflow-y: scroll;
}