.homeLayout {
    display: flex;
    height: 100%;
    gap: 50px;
}

.sidebar {
    width: 240px;
    flex-shrink: 0;
}

.main_contents {
    flex: 1;
    min-height: 0;

    display: flex;
    flex-direction: column;
    /* 横は中央のまま */
    height: 100%;
}

.PostListBody {
    flex: 1;
    /* ← 追加 */
    display: flex;
    /* ← 追加 */
    flex-direction: column;
    /* ← 追加 */
    min-height: 0;
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
    background-color: var(--main-sub-color);
    border-radius: 100px 100px 0 0;
    padding: 100px;
    overflow: hidden;
}