.login {
    position: relative;
    width: 100vw;
    height: 100%;
    z
}






.login .flex {
    display: flex;
    flex-flow: column;

    background-color: var(--login-base-color);
}

.account {
    padding: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;


    background-color: var(--login-accsent-color);
}

.sakaki {
    width: 30vw;
    aspect-ratio: 1/2;
    position: absolute;
    bottom: 100px;
    right: 100px;
}