header {
    background-color: var(--main-color);
}

header h1 {
    color: var(--accent-color);
}

.header-oka {
    color: var(--base-color);
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.flex {
    display: flex;
}