header {
    background-color: var(--main-color);
}

header h1 {
    color: var(--accent-color);
}

.header-oka {
    transform: translateY(1px);
    color: var(--base-color);
    width: 100%;
    height: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}